horisan/config.py
horisan/*.session
horisan/*.session-journal
horisan/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
horisan/modules/helper_funcs/temp.txt
horisan/elevated_users.json
start-3.9.bat
*.session
kangsticker.png
venv
env
lunaBot.session-journal
updates.txt
*.exe